spring:
  config:
    import: optional:configserver:https://ink3.shop/config/
  cloud:
    bus:
      enabled: true
  rabbitmq:
  rabbitmq:
    host: ${RABBITMQ_HOST}
    port: ${RABBITMQ_PORT}
    username: ${RABBITMQ_USERNAME}
    password: ${RABBITMQ_PASSWORD}
    virtual-host: ${RABBITMQ_VIRTUAL_HOST}
  datasource:
    url: jdbc:mariadb://localhost:3306/batch
    driver-class-name: org.mariadb.jdbc.Driver
    username: root
    password: 
  sql:
    init:
      mode: never
      schema-locations: classpath:schema-sqlserver.sql
  batch:
    jdbc:
      initialize-schema: never

management:
  endpoints:
    web:
      exposure:
        include:
          - busrefresh
          - health
          - refresh
