spring:
  cloud:
    openfeign:
      okhttp:
        enabled: true
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    cache: false
gateway-base-url: https://ink3.shop/gateway
feign:
  url:
    auth: "default"
    shop: "default"
management:
  endpoints:
    web:
      exposure:
        include: refresh, health, info
